/* Typography
*/

h1, h2 {
    font-family: 'Permanent Marker', cursive;
}

h6 {
    font-weight: bolder;
}

/* Classes
*/

/* .form-horizontal {
    border-top: 1px solid #dadee4;
    margin: 1rem 0;
    padding: 1rem 0 0rem;
}

.form-horizontal:first-of-type {
    margin: 0rem 0 1rem;
    padding: 1rem 0 0rem;
}

.form-horizontal:last-of-type {
    border-bottom: 1px solid #dadee4;
    margin: 1rem 0 0rem;
    padding: 1rem 0 1rem;
} */

div.card {
    min-height: 275px;
}

div.card > div.card-header > div.card-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    line-height: 36px;
}

/* Layout
*/

body {
    background: #f7f7f7;
    padding: 0.5rem 2rem 1rem;
}

body > div#app {
    margin: 0 auto;
}

body > div#app > header.container {
    
}

body > div#app > header.container > div.columns {
    
}

body > div#app > header.container > div.columns > div.column {
    height: 3.5rem;
    padding: 0 0.5rem;
}

body > div#app > header.container > div.columns > div.column > h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

body > div#app > div.container {
    background: #fcfcfc;
    border: 1px solid #dadee4;
    border-radius: 0.25rem;
    height: calc(100vh - 5rem);
    padding: 0.75rem 0.75rem;
}

body > div#app > div.container > div.columns {
    height: 100%;
}

body > div#app > div.container > div.columns > div.column {
    height: 100%;
}

body > div#app > div.container > div.columns > div.column > header {
    padding: 0 0.5rem;
}

body > div#app > div.container > div.columns > div.column > header > h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 0 0.5rem;
    padding: 0;
}

body > div#app > div.container > div.columns > div.column > header > a.btn {
    margin: 0.5rem 0;
}

body > div#app > div.container > div.columns > div.column > div.lane {
    background: #f5f6fa;
    border: 1px solid #dadee4;
    border-radius: 0.25rem;
    height: calc(100% - 3rem);
    overflow-y: auto;
    padding: 0.5rem 0.5rem;
}

body > div#app > div.container > div.columns > div.column > div.lane > div.card {
    margin: 0 0 0.5rem;
}
